.container__refund_layout {
  display: flex;
}

.container__header_dashboard {
  width: 155px; 
  height: 75px;
  display: flex;
  align-items: center;
}
.container__main_dashboard {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__dashboard {
  width: 58.375rem;
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 2rem;
  }

  .container_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .card {
      width: 18.125rem;
      height: 209px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 0.8px solid rgba(203, 212, 225, 1);
      border-radius: 6px;
      cursor: pointer;
      img{
        margin-bottom: 11px;
      }
      p {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .card:nth-child(1){
      img{
        margin-bottom: 4px;
      }
      p{
        margin-bottom: 2px;
      }
    }
  }
  .container_update {
    display: flex;
    width: 100%;
    align-items: center;
    height: 24px;
    .check {
      margin-left: 5px;
      color: rgba(8, 68, 196, 1);
    }
  }
}

.data_dashboard {
  height: 100px;
  border: 0.8px solid rgba(203, 212, 225, 1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .data {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .data__icon_n_request {
      background-color: rgba(0, 190, 221, 1);
      padding: 12px;
      border-radius: 6px;
    }
    .data__icon_n_analyzing {
      background-color: rgba(229, 103, 0, 1);
      padding: 9px;
      border-radius: 6px;
    }
    .data__icon_n_aproved {
      background-color: rgba(0, 122, 106, 1);
      padding: 11px;
      border-radius: 6px;
    }
    .data__icon_n_rejected {
      background-color: rgba(166, 11, 47, 1);
      padding: 11px;
      border-radius: 6px;
    }
  }
}
