:root {
  --primary_color--: rgba(8, 68, 196, 1);
}

.container_header {
  width: 88px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  transition: 0.1s;
  top: 0;
  z-index: 999999;
  padding: 15px;
  background-color: white;

  .container_navbar_section {
    width: 100%;
    height: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .logoff_btn {
    background-color: rgba(99, 117, 141, 1);
  }
}
.container_header.active{
  left: -10px;
  overflow-y: auto;
}
.btn_header {
  background-color: var(--primary_color--);
}
button {
  width: 48px;
  height: 45px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 100ms all;
}
button:hover {
  transform: scale(1.1);
}

